#root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: larger;
}

.general-info {
  display: flex;
  flex-flow: column;
  align-content: center;
  gap: 5px;
}

.education-exp {
  display: flex;
  flex-flow: column;
  align-content: center;
  gap: 5px;
}