.icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-items: start;
  margin-bottom: 10px;
}


.item-icon:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
}

ul > div {
  background-color: #ede9e6;
  padding: 10px;
  border-radius: 5px;
  width: 350px;
}

li {
  list-style: none;
  display: grid;
  
}