.section:first-of-type {
  width: 150%;
  border-bottom: 1px solid #cfd3d5;
}

.form-control-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.form-control-btn:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-control-btn svg {
  width: 30px;
  height: 30px;
}